<div class="edit">
  <div class="card" style="width: 14rem;">
    <img src="../../../../../../assets/images/special.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="#">
        <h5 class="card-title">Card title</h5>
      </a>
      <p class="card-text">Some quick example</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 14rem;">
    <img src="../../../../../../assets/images/special.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="#">
        <h5 class="card-title">Card title</h5>
      </a>
      <p class="card-text">Some quick example</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>