<div class="edit">
  <ng-template ngFor let-blog [ngForOf]="listBlog" let-i="index">
    <div class="card padding-card" style="width: 14rem;">
        <img src="http://{{blog.avataURL}}" class="card-img-top" alt="...">
        <div class="card-body">
          <a routerLink="blog-detail" (click)="onClickBlogDetail(blog.id)">
            <h5 class="card-title">{{blog.title}}</h5>
          </a>
          <p class="card-text">{{blog.shortDescription}}</p>
        </div>
      </div>
  </ng-template>  
</div>