<footer class="page-footer font-small mdb-color lighten-3 pt-4 bgcolor ">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-4 col-lg-4 mr-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4 ">BLOG Q&A</h5>
        <p class="justify">Orient Software opened for business in 2005.</p>
        <p class="justify"> Today, Orient is Vietnam’s Number 1 software development company.
          After almost 10 years of offering professional IT solutions,
          Orient’s strong team of 100 skilled and experienced IT experts collaborate to provide software
          development solutions to clients with small to corporate-sized businesses worldwide.</p>
      </div>
      <hr class="clearfix w-100 d-md-none" />
      <div class="col-md-2 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">About US</h5>
        <!-- <ul class="list-unstyled ">
          <li>
            <div>
              <i class="fas fa fa-envelope mr-3" /> sales@orientsoftware.net</div>
          </li>
          <li>
            <div>
              <i class="fas fa fa-phone mr-3" /> +84 28 3812 0101 (EN)</div>
          </li>
          <li>
            <div>
              <i class="fas fa fa-print mr-3" /> +84 90 9975 606 (日本語)</div>
          </li>
        </ul> -->
      </div>
      <hr class="clearfix w-100 d-md-none" />
      <div class="col-md-4 col-lg-4 mx-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>
        <ul class="list-unstyled">
          <li>
            <div>
              <!-- <i class="fas fa fa-home mr-3" /> <strong>Head office - Ho Chi Minh City: </strong> -->
              <p class="justify">5th floor, Suite 5.8, e.town 1 building, 364 Cong Hoa Str,
                Ward 13, Tan Binh Dist, Ho Chi Minh City, Vietnam
              </p>
            </div>
          </li>
          <li>
            <div>
              <!-- <i class="fas fa fa-home mr-3" /> -->

              <strong>Branch office - Da Nang City: </strong>
              <p class="justify">
                11th floor, PGT Tower building, 220 Nguyen Huu Tho Str,
                Hoa Thuan Tay Ward, Hai Chau Dist, Da Nang City, Vietnam</p>
            </div>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none" />

      <div class="container">

        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <div class="btn-floating btn-fb mx-1">
              <!-- <SocialIcon network="facebook" url="https://www.facebook.com/Orient-Danang-2198688846871413/?ref=br_rs"
                target='b_lank' bgColor="#ffffff" /> -->
                <a href="https://www.facebook.com/Orient-Danang-2198688846871413/?ref=br_rs" target='b_lank'>
                  <i class="fab fa-facebook"></i>
                </a>
            </div>
          </li>
          <li class="list-inline-item">
            <div class="btn-floating btn-tw mx-1">
              <!-- <SocialIcon network="linkedin" url="https://www.linkedin.com/company/orient-software-development"
                target='b_lank' bgColor="#ffffff" /> -->
            </div>
          </li>
          <li class="list-inline-item">
            <div class="btn-floating btn-gplus mx-1">
              <!-- <SocialIcon network="twitter" url="https://twitter.com/OrientInfo" target='b_lank' bgColor="#ffffff" /> -->
            </div>
          </li>
          <li class="list-inline-item ">
            <a href="https://www.orientsoftware.net/" target='b_lank'><img width="48%" src='../../../../assets/images/logo.png' /></a>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div class="footer-copyright text-right py-3">© 2018 Copyright: Orient Software DaNang - Intern Team
    <a href="https://www.orientsoftware.net/"> Orient Software</a>
  </div>
</footer>