.sidebar_right
{
	background: #EFEFEF;
	padding: 5px 10px;
	color: gray;
}
.image-comment
{
    width: 10%;
    height: 10%;
    margin-top: 3px;
}
.right-topic{
	color: #777777;
}
.align{	
    display: inline-table;
}