<div class="col-lg-3 align">
    <div class="sidebar_right">
        <li class="sidebar_right d-flex flex-row justify-content-start">
            <i class="fa fa-comment image-comment"></i>
            <div>
                <a class="right-topic" href="#"><strong>&nbsp;&nbsp;Title</strong></a>
            </div>
        </li>
        <li class="sidebar_right d-flex flex-row justify-content-start">
            <i class="fa fa-comment image-comment"></i>
            <div>
                <a class="right-topic" href="#"><strong>&nbsp;&nbsp;TitleTitleTitleTitleTitleTitle</strong></a>
            </div>
        </li>
    </div>
    <div>
        <span class="badge badge-primary">Primary</span>&nbsp;
        <span class="badge badge-primary">Pri</span>&nbsp;
        <span class="badge badge-primary">Primary</span>&nbsp;
        <span class="badge badge-primary">Primary</span>&nbsp;
    </div>
</div>